<footer class="background-black animated fadeIn">
    <section>
        <div>
            <div class="row pt-3 pb-3 padding" style="width:100%">
                <div class="col-md-4 col-12">
                    <img class="logo-footer" width="30%" src="../../../assets/images/Logo Founduss lettering naranja_Mesa de trabajo 1.svg">
                    <p class="family-400 white size-12">Copyright © 2020 Founduss C.A All rights reserved.</p>
                </div>
               <div class="col-md-8 col-12 flex items space-around">
                   <span class="family-500 white">
                       Contacto
                   </span>
                   <div class="line-column"></div>
                   <span class="family-300 white size-15">
                       atencionalcliente@founduss.com
                   </span>
                   <span class="family-300 white size-15">
                       founduss@gmail.com
                   </span>
                   <span class="family-300 white size-15">
                       +56 225014575
                   </span>
               </div>
            </div>
        </div>
    </section>
</footer>
